name: Build Android APK

on:
  push:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Satisfy Flutter Doctor
        run: |
          yes | flutter doctor --android-licenses
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev mesa-utils
          flutter config --no-enable-linux-desktop

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Flet
        run: pip install flet

      - name: Build APK
        run: flet build apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Engineering-Calculator-APK
          path: build/apk/**/*.apk
          
